<div class="container">
  <h1 class="title">単語クイズ</h1>
  <p class="subtitle" style="margin-top: 3em;  margin-bottom: 3em;"> 正しい単語の意味を選んでね </p>
  <%= react_component("Quiz", { questions: [@questions, @wrong_question1, @wrong_question2]}) %>
  <%= link_to 'トップに戻る', root_path, class: "btn" %>
  <% if user_signed_in? %>
    <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn" %></p>
  <% end %>
